<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.dao.NodeDao">

    <resultMap id="DTopicMap" type="com.mvc.model.DTopic" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

    <!--<sql id="Base_Column_List" >-->
    <!--id,log_source,log_time,log_topic,time,device_id,ip, member_id,log_level,modtrans,content-->
    <!--</sql>-->
    <!--<select id="getLog" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from realtimelog20160622-->
    <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->

    <select id="getTopicKeys" resultType="java.lang.String">
        select t_topic.key from t_topic
    </select>

    <select id="getAllTopics" resultMap="DTopicMap">
        select `id`, `key` from t_topic;
    </select>

    <select id="getNodesByTopicId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select `t_dialog_node.id` from t_dialog_node where `topic_id`=#{topicId}
    </select>

    <select id="getLeafNodesByTopicId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT tmp.`id` from (select a.`id`, a.topic_id, b.father_id,b.son_id from `t_dialog_node` a
        left JOIN `t_node_hyponym` b on a.`id` = b.`father_id` where a.topic_id=#{topicId})as tmp
        where tmp.father_id IS NULL
    </select>

    <select id="getTopicById" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT `key` from t_topic where `id`=#{topicId};
    </select>

    <select id="getConnectedNode" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT tar_id from t_node_related where src_id=#{nodeId} ORDER BY rank ASC;
    </select>
    
    <select id="getNodeContent" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT content from t_dialog_node where `id`=#{nodeId};
    </select>

    <select id="getTopicIdByNodeId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT topic_id from t_dialog_node where `id`=#{nodeId};
    </select>

    <select id="getRootIdByTopicId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT min(`id`) from t_dialog_node where topic_id=#{topicId};
    </select>

    <select id="getTopicsByCategoryId" resultMap="DTopicMap" parameterType="java.lang.Integer">
        SELECT `t_topic`.`id`,`t_topic`.`key` from `t_topic` where category_id=#{categoryId};
    </select>

    <select id="getTopicsByCategoryName" resultMap="DTopicMap" parameterType="java.lang.String">
        SELECT `t_topic`.`id`,`t_topic`.`key` from `t_topic` where category=#{categoryName};
    </select>

    <select id="getConnectedNodeNumByCategoryId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
         SELECT count(distinct(src_id)) as cnt from `t_node_related` where `src_id` in
        (SELECT `t_dialog_node`.`id` from `t_dialog_node` where `t_dialog_node`.`topic_id` in
        (SELECT `t_topic`.`id` from `t_topic` where `t_topic`.`category_id` =#{categoryId}))
    </select>

    <select id="getNodeNumByCategoryId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT count(distinct(`t_dialog_node`.`id`)) from `t_dialog_node` where `t_dialog_node`.`topic_id` in
        (SELECT `t_topic`.`id` from `t_topic` where `t_topic`.`category_id` =#{categoryId})
    </select>

    <select id="getCategories" resultType="java.lang.String">
        SELECT DISTINCT(category) from t_topic ORDER BY category_id ASC;
    </select>

    <insert id="insertRank" parameterType="com.mvc.model.NodeRelation" useGeneratedKeys="true" keyProperty="id">
      insert into t_node_related (`src_id`, `tar_id`, `rank`) VALUES (#{srcId},
      #{tarId}, #{rank});
    </insert>

    <update id="updateRank" parameterType="com.mvc.model.NodeRelation">
        UPDATE t_node_related set rank=#{rank} where src_id=#{srcId} and tar_id=#{tarId};
    </update>

    <delete id="clearRelationBySrcId" parameterType="java.lang.Integer">
        DELETE from t_node_related where src_id=#{srcId};
    </delete>

    <update id="insertTopicCategory" parameterType="com.mvc.model.DTopic">
        update t_topic set  category_id=#{catId}, category=#{category}  where `id`=#{id};
    </update>

</mapper>